{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ post.title }}{% endblock %}

{% block body %}


<div class="d-flex flex-column justify-content-center align-items-center container">

<span class="badge bg-info">{{ post.category.name }}</span>

<h2>{{ post.title }}</h2>

<p class="lead">Créé par {{ post.author }} le {{ post.createdAt|date('d/m/Y') }}</p>

<img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid rounded">


<p class="lead">{{ post.content }}</p>

<a href="{{ path('home.index') }}">Retour</a>

</div>

{% if post.comments|length == 0 %}
   <p>Soyez le premier à commenter cet article!</p>
{%  else %}

<div class="error-message">{{ form_errors(form.user) }}</div>
{{ form_widget(form.content, {'attr': {'class':'my-class'}}) }}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Envoyer" class="btn btn-primary">
    {{ form_end(form) }}
   
   <ul>
       {% for comment in post.comments %}
           <div class="card mb-3">
               <div class="card-body">
                   <h4 class="card-title">Ajouté par {{ comment.user }} 
                       le {{ comment.createdAt|date("d/m/Y", 'Europe/Paris') }}  
                        à {{ comment.createdAt|date("H:m", 'Europe/Paris') }}
                   </h4>
                   <p class="card-text">{{ comment.content }}</p>
               </div>
           </div>
       {% endfor %}
   </ul>
{% endif %}


{% endblock %}

